.about-component-text {
  height: 100vh;
}

.vertical-center-l {
  margin-top: 32vh;
}

.vertical-center-r {
  margin-top: 20vh;
}

.about-content-text {
  padding: 0 19rem;
}

.about-content-image {
  margin-right: -19rem;
  margin-bottom: 0rem;
}

@media only screen and (max-width : 768px) {
  .about-content-image {
    margin-right: 0rem;
    margin-bottom: 20rem;
    margin-top: 10rem;
  }

  .about-content-text {
    padding: 0 3rem;
  }
  .vertical-center-l {
    margin-top: 5rem;
  }

  .vertical-center-r {
    margin-top: 5rem;
  }
}

.large-margin-bottom {
  margin-bottom: 8rem;
}

.md-margin-bottom {
  margin-bottom: 4rem;
}

.ig-logo {
  margin: 10px auto;
  background: #fff;
  display: block;
  height: 230px;
}

p {
  margin-bottom: 2rem;
}