.about-component-text {
  height: 100vh;
}

.vertical-center-l {
  margin-top: 32vh;
}

.vertical-center-r {
  margin-top: 20vh;
}

.about-content-text {
  padding: 0 19rem;
}

.about-content-image {
  margin-right: -19rem;
}

.large-margin-bottom {
  margin-bottom: 8rem;
}

.md-margin-bottom {
  margin-bottom: 4rem;
}

.ig-logo {
  margin: 10px auto;
  background: #fff;
  display: block;
  height: 230px;
}

p {
  margin-bottom: 2rem;
}